@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  border: 2px solid red;
  background-color: #230e3d;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
}

/* nav */
nav {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 16px;
  padding: 30px;
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  gap: 32px;
  color: white;
  cursor: pointer;
}
.tecwave {
  font-size: 40px;
  font-weight: 700;
}
.tecwave > span {
  /* color :red; */
  background: linear-gradient(3deg, yellow, rgb(194, 25, 174), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscrive {
  background: linear-gradient(30deg, yellow, rgb(194, 25, 174), blue);
  padding: 12px 40px 12px 16px;
  border-radius: 30px;
  cursor: pointer;
}
.fa-bars {
  display: none;
  font-size: 24px;
  cursor: pointer;
}




/* hero */

.banner {
  border: 2px solid aqua;
  border-radius: 3px;
  /* padding-bottom: 50px; */
}
.banner-img {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.hero {
  display: grid;
  place-items: center;
  position: relative;
}
.badge-div{
  position: absolute;
  top: 28%;
  left:59%;
  border: 2px solid #09f386;
  padding: 10px;
  background-color: #0cf186;
  font-size: medium;
  font-weight: 700;
  border-radius: 30px;
  color: #1a0b2e;

}


.banner-img,
.circle-img,
.mic-img {
  grid-area: 1/1;
  border: 2px solid white;
 
  /* height: 47%; */
}
.circle-img{
 width:23.5%;
 height: auto;
}
.mic-img {
    width:7.79%;
    height: auto;
}
.banner-img {
  width: 100%;
  height: auto;
  padding-top: 150px;
}


.spoty-sub {
  display: flex;
  margin-top: 20px;
}
.spotify,
.subscrive-bg {
  width: 60%;
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
 display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 60px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  /* white-space: nowrap; */
}
.spotify {
  background: linear-gradient(30deg, yellow, rgb(194, 25, 174), blue);
}
.subscrive-bg {
  background-color: #1a0b2e;
}

.title {
  color: white;
  font-size: 48px;
  margin-top: 10px;
}

.subtitle {
  color: #ffffff;
  margin-top: 10px;
  z-index: 5;
  max-width: 500px;
  text-align: center;
}





/* main  */
.about-podcast {
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.left-AP {
  text-align: center;
  gap: 20px;
  padding: 50px;
}
.left-AP h2 {
  font-size: 48px;
}
.left-AP p {
  font-size: 16px;
}
.right-AP {
  display: flex;
  justify-content: space-between;
  text-align: center;
  justify-items: center;
}
.right-AP h1 {
  color: #00ff88;
  font-weight: bold;
}




/* grid-container  */
.grid-container{
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid tomato;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
    padding: 120px;
    
  
}
.grid{
    margin-bottom: 10px;
}
 .box-1{
    grid-row: 1/span 2;
} 
.box-2{
    grid-column: 2/span 2;
}

.box-3{
    grid-column: 2/span 2;
}
.box-4{
    grid-column: 1/span 2;
}
.grid-container .box{
    border-radius: 40px;
    padding: 40px 40px;
    max-width: 1200px;
    background-color: #351165;

}
/* .grid{
    padding-top: 100px;
} */
.grid h2{
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
 h1{
    font-size: 24px;
    gap: 20px;
}
.box ,  h2{
    
     display: flex;            
    flex-direction: column;  
    justify-content: center;      
    padding: 30px;          
    gap: 15px;     
}

.fa-regular{
   font-size: 50px;
}
/* feature-episode  */
.feature-episode{
    max-width: 1200px;
    margin: 0 auto;
 align-items: start;
 margin-bottom: 80px;
 border: 2px solid rgb(206, 20, 110);
}
.feature-episode h1{
    padding: 30px;
    text-align: center;
}
.three-vedio{
    display: flex;
    justify-content: center;gap: 30px;
    
}
.vedio{
    cursor: pointer;
    border-radius: 40px;
    background-color: #1a0b2e;
    padding: 30px;
    position: relative;
}
.fa-play{

position: absolute;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e71379;
    font-size: 90px;
    z-index: 10;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border:9px solid #4c2087;
    border-radius: 40px;
  
}


/* meet mthe host section  */

.meet{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

}
.host-title h1{
    font-size: 48px; 
    text-align: center;
    padding: 40px;
}

.the-host{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color:#351165;
    border-radius: 20px;
    padding: 40px;

}
.the-host h1{
    font-size: 48px;
    padding: 30px;
}

.links{
    display: flex;
    gap: 30px;
    justify-items: center;
    justify-content: flex-start;
  
   
}
.links button{
     background-color: #33214b; 
      padding: 20px;
      border-radius: 50px;
      border: 1px solid gray;

}
















footer{
   
          background-color: #e01a1a;
          background-image: url('./assets/footer-bg.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          padding-top: 120px;
          padding-bottom: 120px;
}

/* 
footer{
  max-width: 1600px;
  width: auto;
  display: flex;
  justify-content: center;
} */

/* .footer-div{
 position: relative;
 width: 100%;
 max-width: 1600px;
} */
.footer-div img {
    width: 100%;
    display: block;
  }
.child-div{ 
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.ft-wave{
 font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}



.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: none;
    
}
button{
  padding: 0px;
  width: 94px;
  height: auto;
  background-color: #1f1247;
  border: none;
  color: white;
  gap: 20px;
  display: flex;         
    align-items: center;
    justify-content: space-around;  
    gap: 10px;
cursor: pointer;
}
.btn-div img{
  gap: 30px;
}


.footer-div{
  max-width: 1200px;
}
.child-div{
  transform: translate(-20%, -40%);
}

.btn-div{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    flex-wrap: wrap;
}
.btn-div button {
    background: transparent; 
    border: none;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    gap: 8px; 
    font-size: 16px;
    cursor: pointer;
    width: auto; 
}
.btn-div p {
    /* width: 500px;             */
    white-space: nowrap;    
    overflow: hidden;       
    text-align: center;     
    margin: 20px auto;       
    /* margin-left: 20px; */
 
    flex-basis: 100%;     
}
.cprt {
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-top: 30px;
}

.cprt p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    white-space: nowrap; 
}






@media screen and (max-width: 575px) {
  
 *{
        max-width: 575px; 
        margin: 0 ;
        padding: 0;
    }
  body {
   margin: 0;
    padding: 0;
    width: 100% ;  
    overflow-x: hidden; 
  }


 
  .nav-menu, .subscrive {
    display: none; 
  }
  
  .fa-bars {
    display: block;
    margin-left: auto;
 
  }

  nav {
    justify-content: space-between;
    padding: 15px;
  }

  .tecwave {
    font-size: 48px;
  }
  .banner-img {
    padding-top: 50px;
  }

  .title {
    font-size: 32px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    padding: 0 10px;
    opacity: 80%;
  }

  .spoty-sub {

    width: 80%;
    align-items: center;
    gap: 10px;
  }

  .spotify, .subscrive-bg {
    width: 90%;
    flex-wrap: nowrap;
    font-size: 16px;
  }

  .left-AP h2 {
    font-size: 30px;
    padding: none;
    margin: 10px;
  }


  .right-AP {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }

  .grid-container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    padding: 20px;
    gap: 20px;
  }


  .box-1, .box-2, .box-3, .box-4 {
    grid-column: 1 / span 1 ;
    grid-row: auto ;
    padding: 20px;
  }

  .grid h2 {
    font-size: 28px;
  }


  .three-vedio {
    flex-direction: column; 
    gap: 20px;
   
  }

  .vedio {
    width: 100%;
    padding: 30px; background-color: #4c2087;
  }


  .the-host {
    flex-direction: column; 
    padding: 20px;
    text-align: center;
  }

  .the-host h1 {
    font-size: 28px;
  }

  .links {
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .circle-img {
    width: 40%;
  }
  
  .mic-img {
    width: 15%;
  }
  .child-div {
    max-width: 100%;
  }
  .btn-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .tecwave {
    display: flex;

  }

.badge-div{
  position: absolute;
  top: 10%;
  left:60%;
  

}
footer{
  background-size: contain;
}
  
}

